
@font-face {
    font-family:"Klei Extra Bold";
    src:url("KleiExtBld.woff2") format("woff2"),url("KleiExtBld.woff") format("woff"),url("KleiExtBld.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        