
@font-face {
    font-family:"Klei Book";
    src:url("KleiBook.woff2") format("woff2"),url("KleiBook.woff") format("woff"),url("KleiBook.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        