
@font-face {
    font-family:"Klei Medium Italic";
    src:url("KleiMedIta.woff2") format("woff2"),url("KleiMedIta.woff") format("woff"),url("KleiMedIta.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        