<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>s</key>
    <string>s.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>uniFB02</key>
    <string>uniF_B_02.glif</string>
    <key>uniFB00</key>
    <string>uniF_B_00.glif</string>
    <key>uniFB01</key>
    <string>uniF_B_01.glif</string>
    <key>uniFB03</key>
    <string>uniF_B_03.glif</string>
    <key>uniFB04</key>
    <string>uniF_B_04.glif</string>
    <key>uni02B9</key>
    <string>uni02B_9.glif</string>
    <key>uni02BA</key>
    <string>uni02B_A_.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>exclamdbl</key>
    <string>exclamdbl.glif</string>
    <key>uni2047</key>
    <string>uni2047.glif</string>
    <key>uni2048</key>
    <string>uni2048.glif</string>
    <key>uni2049</key>
    <string>uni2049.glif</string>
    <key>uni2015</key>
    <string>uni2015.glif</string>
    <key>figuredash</key>
    <string>figuredash.glif</string>
    <key>uni2011</key>
    <string>uni2011.glif</string>
    <key>uni2034</key>
    <string>uni2034.glif</string>
    <key>uni2016</key>
    <string>uni2016.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>twodotenleader</key>
    <string>twodotenleader.glif</string>
    <key>onedotenleader</key>
    <string>onedotenleader.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>uni00B2</key>
    <string>uni00B_2.glif</string>
    <key>uni00B3</key>
    <string>uni00B_3.glif</string>
    <key>uni00B9</key>
    <string>uni00B_9.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>uni2023</key>
    <string>uni2023.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>Hcircumflex</key>
    <string>H_circumflex.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>uni0137</key>
    <string>uni0137.glif</string>
    <key>uni013B</key>
    <string>uni013B_.glif</string>
    <key>uni013C</key>
    <string>uni013C_.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>uni0145</key>
    <string>uni0145.glif</string>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>Scircumflex</key>
    <string>S_circumflex.glif</string>
    <key>scircumflex</key>
    <string>scircumflex.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>uni0162</key>
    <string>uni0162.glif</string>
    <key>uni0163</key>
    <string>uni0163.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>uni0156</key>
    <string>uni0156.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>uni0122</key>
    <string>uni0122.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>Gdotaccent</key>
    <string>G_dotaccent.glif</string>
    <key>gcircumflex</key>
    <string>gcircumflex.glif</string>
    <key>Gcircumflex</key>
    <string>G_circumflex.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>ccircumflex</key>
    <string>ccircumflex.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>uni01D1</key>
    <string>uni01D_1.glif</string>
    <key>uni01DB</key>
    <string>uni01D_B_.glif</string>
    <key>uni01DA</key>
    <string>uni01D_A_.glif</string>
    <key>uni01DC</key>
    <string>uni01D_C_.glif</string>
    <key>aeacute</key>
    <string>aeacute.glif</string>
    <key>AEacute</key>
    <string>A_E_acute.glif</string>
    <key>aringacute</key>
    <string>aringacute.glif</string>
    <key>Aringacute</key>
    <string>A_ringacute.glif</string>
    <key>uni01F9</key>
    <string>uni01F_9.glif</string>
    <key>uni01F8</key>
    <string>uni01F_8.glif</string>
    <key>uni0229</key>
    <string>uni0229.glif</string>
    <key>uni0228</key>
    <string>uni0228.glif</string>
    <key>uni0227</key>
    <string>uni0227.glif</string>
    <key>uni0226</key>
    <string>uni0226.glif</string>
    <key>uni01F5</key>
    <string>uni01F_5.glif</string>
    <key>uni01F4</key>
    <string>uni01F_4.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>uni0136</key>
    <string>uni0136.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>uni0146</key>
    <string>uni0146.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>Ebreve</key>
    <string>E_breve.glif</string>
    <key>ebreve</key>
    <string>ebreve.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif</string>
    <key>Obreve</key>
    <string>O_breve.glif</string>
    <key>obreve</key>
    <string>obreve.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif</string>
    <key>uni01D4</key>
    <string>uni01D_4.glif</string>
    <key>uni01D3</key>
    <string>uni01D_3.glif</string>
    <key>uni01D2</key>
    <string>uni01D_2.glif</string>
    <key>uni01CE</key>
    <string>uni01C_E_.glif</string>
    <key>uni01CD</key>
    <string>uni01C_D_.glif</string>
    <key>gcaron</key>
    <string>gcaron.glif</string>
    <key>Gcaron</key>
    <string>G_caron.glif</string>
    <key>uni01E8</key>
    <string>uni01E_8.glif</string>
    <key>uni01E9</key>
    <string>uni01E_9.glif</string>
    <key>uni01E2</key>
    <string>uni01E_2.glif</string>
    <key>uni0203</key>
    <string>uni0203.glif</string>
    <key>uni0202</key>
    <string>uni0202.glif</string>
    <key>uni0207</key>
    <string>uni0207.glif</string>
    <key>uni0206</key>
    <string>uni0206.glif</string>
    <key>uni020A</key>
    <string>uni020A_.glif</string>
    <key>uni020B</key>
    <string>uni020B_.glif</string>
    <key>uni020F</key>
    <string>uni020F_.glif</string>
    <key>uni020E</key>
    <string>uni020E_.glif</string>
    <key>uni0212</key>
    <string>uni0212.glif</string>
    <key>uni0213</key>
    <string>uni0213.glif</string>
    <key>uni0217</key>
    <string>uni0217.glif</string>
    <key>uni0216</key>
    <string>uni0216.glif</string>
    <key>uni0218</key>
    <string>uni0218.glif</string>
    <key>uni0219</key>
    <string>uni0219.glif</string>
    <key>uni021A</key>
    <string>uni021A_.glif</string>
    <key>uni021B</key>
    <string>uni021B_.glif</string>
    <key>uni01E3</key>
    <string>uni01E_3.glif</string>
    <key>uni0157</key>
    <string>uni0157.glif</string>
    <key>uni030B</key>
    <string>uni030B_.glif</string>
    <key>uni030F</key>
    <string>uni030F_.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>uni0200</key>
    <string>uni0200.glif</string>
    <key>uni0201</key>
    <string>uni0201.glif</string>
    <key>uni0204</key>
    <string>uni0204.glif</string>
    <key>uni0205</key>
    <string>uni0205.glif</string>
    <key>uni0208</key>
    <string>uni0208.glif</string>
    <key>uni020C</key>
    <string>uni020C_.glif</string>
    <key>uni020D</key>
    <string>uni020D_.glif</string>
    <key>uni0211</key>
    <string>uni0211.glif</string>
    <key>uni0214</key>
    <string>uni0214.glif</string>
    <key>uni0215</key>
    <string>uni0215.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>Ibreve</key>
    <string>I_breve.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>uni01CF</key>
    <string>uni01C_F_.glif</string>
    <key>uni01D0</key>
    <string>uni01D_0.glif</string>
    <key>uni0209</key>
    <string>uni0209.glif</string>
    <key>uni01F0</key>
    <string>uni01F_0.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>uni0328</key>
    <string>uni0328.glif</string>
    <key>uni0316</key>
    <string>uni0316.glif</string>
    <key>uni0317</key>
    <string>uni0317.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>uni01EB</key>
    <string>uni01E_B_.glif</string>
    <key>uni01EA</key>
    <string>uni01E_A_.glif</string>
    <key>uni0210</key>
    <string>uni0210.glif</string>
    <key>uni022E</key>
    <string>uni022E_.glif</string>
    <key>uni022F</key>
    <string>uni022F_.glif</string>
    <key>uni0232</key>
    <string>uni0232.glif</string>
    <key>uni0233</key>
    <string>uni0233.glif</string>
    <key>uni0237</key>
    <string>uni0237.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>uni01EC</key>
    <string>uni01E_C_.glif</string>
    <key>uni01ED</key>
    <string>uni01E_D_.glif</string>
    <key>uni01D8</key>
    <string>uni01D_8.glif</string>
    <key>uni1E00</key>
    <string>uni1E_00.glif</string>
    <key>uni1E01</key>
    <string>uni1E_01.glif</string>
    <key>uni1E02</key>
    <string>uni1E_02.glif</string>
    <key>uni1E03</key>
    <string>uni1E_03.glif</string>
    <key>uni1E04</key>
    <string>uni1E_04.glif</string>
    <key>uni1E05</key>
    <string>uni1E_05.glif</string>
    <key>uni1E06</key>
    <string>uni1E_06.glif</string>
    <key>uni1E07</key>
    <string>uni1E_07.glif</string>
    <key>uni1E08</key>
    <string>uni1E_08.glif</string>
    <key>uni1E09</key>
    <string>uni1E_09.glif</string>
    <key>uni1E0A</key>
    <string>uni1E_0A_.glif</string>
    <key>uni1E0B</key>
    <string>uni1E_0B_.glif</string>
    <key>uni1E0C</key>
    <string>uni1E_0C_.glif</string>
    <key>uni1E0D</key>
    <string>uni1E_0D_.glif</string>
    <key>uni1E0E</key>
    <string>uni1E_0E_.glif</string>
    <key>uni1E0F</key>
    <string>uni1E_0F_.glif</string>
    <key>uni1E10</key>
    <string>uni1E_10.glif</string>
    <key>uni1E11</key>
    <string>uni1E_11.glif</string>
    <key>uni1E12</key>
    <string>uni1E_12.glif</string>
    <key>uni1E13</key>
    <string>uni1E_13.glif</string>
    <key>uni1E14</key>
    <string>uni1E_14.glif</string>
    <key>uni1E15</key>
    <string>uni1E_15.glif</string>
    <key>uni1E16</key>
    <string>uni1E_16.glif</string>
    <key>uni1E17</key>
    <string>uni1E_17.glif</string>
    <key>uni1E18</key>
    <string>uni1E_18.glif</string>
    <key>uni1E19</key>
    <string>uni1E_19.glif</string>
    <key>uni1E1A</key>
    <string>uni1E_1A_.glif</string>
    <key>uni1E1E</key>
    <string>uni1E_1E_.glif</string>
    <key>uni1E1D</key>
    <string>uni1E_1D_.glif</string>
    <key>uni1E1C</key>
    <string>uni1E_1C_.glif</string>
    <key>uni1E1B</key>
    <string>uni1E_1B_.glif</string>
    <key>uni1E1F</key>
    <string>uni1E_1F_.glif</string>
    <key>uni1E20</key>
    <string>uni1E_20.glif</string>
    <key>uni1E21</key>
    <string>uni1E_21.glif</string>
    <key>uni1E22</key>
    <string>uni1E_22.glif</string>
    <key>uni1E23</key>
    <string>uni1E_23.glif</string>
    <key>uni1E24</key>
    <string>uni1E_24.glif</string>
    <key>uni1E25</key>
    <string>uni1E_25.glif</string>
    <key>uni1E26</key>
    <string>uni1E_26.glif</string>
    <key>uni1E27</key>
    <string>uni1E_27.glif</string>
    <key>uni1E28</key>
    <string>uni1E_28.glif</string>
    <key>uni1E29</key>
    <string>uni1E_29.glif</string>
    <key>uni1E2A</key>
    <string>uni1E_2A_.glif</string>
    <key>uni1E2B</key>
    <string>uni1E_2B_.glif</string>
    <key>uni1E2C</key>
    <string>uni1E_2C_.glif</string>
    <key>uni1E2D</key>
    <string>uni1E_2D_.glif</string>
    <key>uni1E2E</key>
    <string>uni1E_2E_.glif</string>
    <key>uni1E2F</key>
    <string>uni1E_2F_.glif</string>
    <key>uni1E30</key>
    <string>uni1E_30.glif</string>
    <key>uni1E31</key>
    <string>uni1E_31.glif</string>
    <key>uni1E32</key>
    <string>uni1E_32.glif</string>
    <key>uni1E33</key>
    <string>uni1E_33.glif</string>
    <key>uni1E34</key>
    <string>uni1E_34.glif</string>
    <key>uni1E35</key>
    <string>uni1E_35.glif</string>
    <key>uni1E36</key>
    <string>uni1E_36.glif</string>
    <key>uni1E37</key>
    <string>uni1E_37.glif</string>
    <key>uni1E38</key>
    <string>uni1E_38.glif</string>
    <key>uni1E39</key>
    <string>uni1E_39.glif</string>
    <key>uni1E3A</key>
    <string>uni1E_3A_.glif</string>
    <key>uni1E3B</key>
    <string>uni1E_3B_.glif</string>
    <key>uni1E3C</key>
    <string>uni1E_3C_.glif</string>
    <key>uni1E3D</key>
    <string>uni1E_3D_.glif</string>
    <key>uni1E3E</key>
    <string>uni1E_3E_.glif</string>
    <key>uni1E3F</key>
    <string>uni1E_3F_.glif</string>
    <key>uni1E40</key>
    <string>uni1E_40.glif</string>
    <key>uni1E41</key>
    <string>uni1E_41.glif</string>
    <key>uni1E42</key>
    <string>uni1E_42.glif</string>
    <key>uni1E43</key>
    <string>uni1E_43.glif</string>
    <key>uni1E44</key>
    <string>uni1E_44.glif</string>
    <key>uni1E45</key>
    <string>uni1E_45.glif</string>
    <key>uni1E46</key>
    <string>uni1E_46.glif</string>
    <key>uni1E47</key>
    <string>uni1E_47.glif</string>
    <key>uni1E48</key>
    <string>uni1E_48.glif</string>
    <key>uni1E49</key>
    <string>uni1E_49.glif</string>
    <key>uni1E4A</key>
    <string>uni1E_4A_.glif</string>
    <key>uni1E4B</key>
    <string>uni1E_4B_.glif</string>
    <key>uni1E4C</key>
    <string>uni1E_4C_.glif</string>
    <key>uni1E4D</key>
    <string>uni1E_4D_.glif</string>
    <key>uni1E4E</key>
    <string>uni1E_4E_.glif</string>
    <key>uni1E4F</key>
    <string>uni1E_4F_.glif</string>
    <key>uni1E54</key>
    <string>uni1E_54.glif</string>
    <key>uni1E55</key>
    <string>uni1E_55.glif</string>
    <key>uni1E56</key>
    <string>uni1E_56.glif</string>
    <key>uni1E57</key>
    <string>uni1E_57.glif</string>
    <key>uni1E58</key>
    <string>uni1E_58.glif</string>
    <key>uni1E59</key>
    <string>uni1E_59.glif</string>
    <key>uni1E53</key>
    <string>uni1E_53.glif</string>
    <key>uni1E5A</key>
    <string>uni1E_5A_.glif</string>
    <key>uni1E5B</key>
    <string>uni1E_5B_.glif</string>
    <key>uni1E5C</key>
    <string>uni1E_5C_.glif</string>
    <key>uni1E5D</key>
    <string>uni1E_5D_.glif</string>
    <key>uni1E5E</key>
    <string>uni1E_5E_.glif</string>
    <key>uni1E5F</key>
    <string>uni1E_5F_.glif</string>
    <key>uni1E60</key>
    <string>uni1E_60.glif</string>
    <key>uni1E61</key>
    <string>uni1E_61.glif</string>
    <key>uni1E62</key>
    <string>uni1E_62.glif</string>
    <key>uni1E63</key>
    <string>uni1E_63.glif</string>
    <key>uni1E64</key>
    <string>uni1E_64.glif</string>
    <key>uni1E65</key>
    <string>uni1E_65.glif</string>
    <key>uni1E66</key>
    <string>uni1E_66.glif</string>
    <key>uni1E67</key>
    <string>uni1E_67.glif</string>
    <key>uni1E68</key>
    <string>uni1E_68.glif</string>
    <key>uni1E69</key>
    <string>uni1E_69.glif</string>
    <key>uni1E6A</key>
    <string>uni1E_6A_.glif</string>
    <key>uni1E6B</key>
    <string>uni1E_6B_.glif</string>
    <key>uni1E6C</key>
    <string>uni1E_6C_.glif</string>
    <key>uni1E6D</key>
    <string>uni1E_6D_.glif</string>
    <key>uni1E6E</key>
    <string>uni1E_6E_.glif</string>
    <key>uni1E6F</key>
    <string>uni1E_6F_.glif</string>
    <key>uni1E70</key>
    <string>uni1E_70.glif</string>
    <key>uni1E71</key>
    <string>uni1E_71.glif</string>
    <key>uni1E72</key>
    <string>uni1E_72.glif</string>
    <key>uni1E73</key>
    <string>uni1E_73.glif</string>
    <key>uni1E74</key>
    <string>uni1E_74.glif</string>
    <key>uni1E75</key>
    <string>uni1E_75.glif</string>
    <key>uni1E76</key>
    <string>uni1E_76.glif</string>
    <key>uni1E77</key>
    <string>uni1E_77.glif</string>
    <key>uni1E78</key>
    <string>uni1E_78.glif</string>
    <key>uni1E79</key>
    <string>uni1E_79.glif</string>
    <key>uni1E7A</key>
    <string>uni1E_7A_.glif</string>
    <key>uni1E7B</key>
    <string>uni1E_7B_.glif</string>
    <key>uni1E7C</key>
    <string>uni1E_7C_.glif</string>
    <key>uni1E7D</key>
    <string>uni1E_7D_.glif</string>
    <key>uni0330</key>
    <string>uni0330.glif</string>
    <key>uni1E7E</key>
    <string>uni1E_7E_.glif</string>
    <key>uni1E7F</key>
    <string>uni1E_7F_.glif</string>
    <key>Wgrave</key>
    <string>W_grave.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>Wacute</key>
    <string>W_acute.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>Wdieresis</key>
    <string>W_dieresis.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>uni1E86</key>
    <string>uni1E_86.glif</string>
    <key>uni1E87</key>
    <string>uni1E_87.glif</string>
    <key>uni1E88</key>
    <string>uni1E_88.glif</string>
    <key>uni1E89</key>
    <string>uni1E_89.glif</string>
    <key>uni1E8A</key>
    <string>uni1E_8A_.glif</string>
    <key>uni1E8B</key>
    <string>uni1E_8B_.glif</string>
    <key>uni1E8C</key>
    <string>uni1E_8C_.glif</string>
    <key>uni1E8D</key>
    <string>uni1E_8D_.glif</string>
    <key>uni1E8E</key>
    <string>uni1E_8E_.glif</string>
    <key>uni1E8F</key>
    <string>uni1E_8F_.glif</string>
    <key>uni1E90</key>
    <string>uni1E_90.glif</string>
    <key>uni1E91</key>
    <string>uni1E_91.glif</string>
    <key>uni1E92</key>
    <string>uni1E_92.glif</string>
    <key>uni1E93</key>
    <string>uni1E_93.glif</string>
    <key>uni1E94</key>
    <string>uni1E_94.glif</string>
    <key>uni1E95</key>
    <string>uni1E_95.glif</string>
    <key>uni1E96</key>
    <string>uni1E_96.glif</string>
    <key>uni1E97</key>
    <string>uni1E_97.glif</string>
    <key>uni1E98</key>
    <string>uni1E_98.glif</string>
    <key>uni1E99</key>
    <string>uni1E_99.glif</string>
    <key>uni1EA0</key>
    <string>uni1E_A_0.glif</string>
    <key>uni1EA1</key>
    <string>uni1E_A_1.glif</string>
    <key>uni1EA4</key>
    <string>uni1E_A_4.glif</string>
    <key>uni1EA5</key>
    <string>uni1E_A_5.glif</string>
    <key>uni1EAA</key>
    <string>uni1E_A_A_.glif</string>
    <key>uni1EAC</key>
    <string>uni1E_A_C_.glif</string>
    <key>uni1EAD</key>
    <string>uni1E_A_D_.glif</string>
    <key>uni1EAE</key>
    <string>uni1E_A_E_.glif</string>
    <key>uni1EAF</key>
    <string>uni1E_A_F_.glif</string>
    <key>uni1EB0</key>
    <string>uni1E_B_0.glif</string>
    <key>uni1EB1</key>
    <string>uni1E_B_1.glif</string>
    <key>uni1EB4</key>
    <string>uni1E_B_4.glif</string>
    <key>uni1EB5</key>
    <string>uni1E_B_5.glif</string>
    <key>uni1EB6</key>
    <string>uni1E_B_6.glif</string>
    <key>uni1EB7</key>
    <string>uni1E_B_7.glif</string>
    <key>uni1EB8</key>
    <string>uni1E_B_8.glif</string>
    <key>uni1EB9</key>
    <string>uni1E_B_9.glif</string>
    <key>uni1EBC</key>
    <string>uni1E_B_C_.glif</string>
    <key>uni1EBD</key>
    <string>uni1E_B_D_.glif</string>
    <key>uni1EBE</key>
    <string>uni1E_B_E_.glif</string>
    <key>uni1EBF</key>
    <string>uni1E_B_F_.glif</string>
    <key>uni1EC0</key>
    <string>uni1E_C_0.glif</string>
    <key>uni1EC1</key>
    <string>uni1E_C_1.glif</string>
    <key>uni1EC4</key>
    <string>uni1E_C_4.glif</string>
    <key>uni1EC5</key>
    <string>uni1E_C_5.glif</string>
    <key>uni1EC6</key>
    <string>uni1E_C_6.glif</string>
    <key>uni1EC7</key>
    <string>uni1E_C_7.glif</string>
    <key>uni1ECA</key>
    <string>uni1E_C_A_.glif</string>
    <key>uni1ECB</key>
    <string>uni1E_C_B_.glif</string>
    <key>uni1ECC</key>
    <string>uni1E_C_C_.glif</string>
    <key>uni1ECD</key>
    <string>uni1E_C_D_.glif</string>
    <key>uni1ED0</key>
    <string>uni1E_D_0.glif</string>
    <key>uni1ED1</key>
    <string>uni1E_D_1.glif</string>
    <key>uni1ED2</key>
    <string>uni1E_D_2.glif</string>
    <key>uni1ED3</key>
    <string>uni1E_D_3.glif</string>
    <key>uni1ED6</key>
    <string>uni1E_D_6.glif</string>
    <key>uni1ED7</key>
    <string>uni1E_D_7.glif</string>
    <key>uni1ED8</key>
    <string>uni1E_D_8.glif</string>
    <key>uni1ED9</key>
    <string>uni1E_D_9.glif</string>
    <key>uni1EE4</key>
    <string>uni1E_E_4.glif</string>
    <key>uni1EE5</key>
    <string>uni1E_E_5.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>Ygrave</key>
    <string>Y_grave.glif</string>
    <key>uni1EF4</key>
    <string>uni1E_F_4.glif</string>
    <key>uni1EF5</key>
    <string>uni1E_F_5.glif</string>
    <key>uni1EF8</key>
    <string>uni1E_F_8.glif</string>
    <key>uni1EF9</key>
    <string>uni1E_F_9.glif</string>
    <key>uni1EA6</key>
    <string>uni1E_A_6.glif</string>
    <key>uni1EA7</key>
    <string>uni1E_A_7.glif</string>
    <key>uni1EAB</key>
    <string>uni1E_A_B_.glif</string>
    <key>uni1E52</key>
    <string>uni1E_52.glif</string>
    <key>uni1E51</key>
    <string>uni1E_51.glif</string>
    <key>uni1E50</key>
    <string>uni1E_50.glif</string>
    <key>uni01E0</key>
    <string>uni01E_0.glif</string>
    <key>uni01E1</key>
    <string>uni01E_1.glif</string>
    <key>uni01DF</key>
    <string>uni01D_F_.glif</string>
    <key>uni01DE</key>
    <string>uni01D_E_.glif</string>
    <key>uni022A</key>
    <string>uni022A_.glif</string>
    <key>uni022B</key>
    <string>uni022B_.glif</string>
    <key>uni022C</key>
    <string>uni022C_.glif</string>
    <key>uni022D</key>
    <string>uni022D_.glif</string>
    <key>uni0230</key>
    <string>uni0230.glif</string>
    <key>uni0231</key>
    <string>uni0231.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>uni031B</key>
    <string>uni031B_.glif</string>
    <key>uni01D7</key>
    <string>uni01D_7.glif</string>
    <key>uni01D9</key>
    <string>uni01D_9.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>longs</key>
    <string>longs.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>uni01E4</key>
    <string>uni01E_4.glif</string>
    <key>uni01E5</key>
    <string>uni01E_5.glif</string>
    <key>uni01D5</key>
    <string>uni01D_5.glif</string>
    <key>uni01D6</key>
    <string>uni01D_6.glif</string>
    <key>Oslashacute</key>
    <string>O_slashacute.glif</string>
    <key>oslashacute</key>
    <string>oslashacute.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>uni01C4</key>
    <string>uni01C_4.glif</string>
    <key>uni01C5</key>
    <string>uni01C_5.glif</string>
    <key>uni01C6</key>
    <string>uni01C_6.glif</string>
    <key>uni01C7</key>
    <string>uni01C_7.glif</string>
    <key>uni01C8</key>
    <string>uni01C_8.glif</string>
    <key>uni01C9</key>
    <string>uni01C_9.glif</string>
    <key>uni01CA</key>
    <string>uni01C_A_.glif</string>
    <key>uni01CB</key>
    <string>uni01C_B_.glif</string>
    <key>uni01CC</key>
    <string>uni01C_C_.glif</string>
    <key>uni01F1</key>
    <string>uni01F_1.glif</string>
    <key>uni01F2</key>
    <string>uni01F_2.glif</string>
    <key>uni01F3</key>
    <string>uni01F_3.glif</string>
    <key>uni007F</key>
    <string>uni007F_.glif</string>
    <key>uni0080</key>
    <string>uni0080.glif</string>
    <key>uni0081</key>
    <string>uni0081.glif</string>
    <key>uni0083</key>
    <string>uni0083.glif</string>
    <key>uni0082</key>
    <string>uni0082.glif</string>
    <key>uni0085</key>
    <string>uni0085.glif</string>
    <key>uni0086</key>
    <string>uni0086.glif</string>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>uni0335</key>
    <string>uni0335.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>uniFB05</key>
    <string>uniF_B_05.glif</string>
    <key>uniFB06</key>
    <string>uniF_B_06.glif</string>
  </dict>
</plist>
