
@font-face {
    font-family:"Klei Bold Italic";
    src:url("KleiBldIta.woff2") format("woff2"),url("KleiBldIta.woff") format("woff"),url("KleiBldIta.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        