
@font-face {
    font-family:"Klei Extra Bold Italic";
    src:url("KleiExtBldIta.woff2") format("woff2"),url("KleiExtBldIta.woff") format("woff"),url("KleiExtBldIta.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        