
@font-face {
    font-family:"Klei Italic";
    src:url("KleiIta.woff2") format("woff2"),url("KleiIta.woff") format("woff"),url("KleiIta.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        