<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>1051FED1-907C-49B6-8120-C37518C97451</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>Medium</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>200</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>uni01E2</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohorn</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhorn</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni0122</string>
		<string>uni0136</string>
		<string>uni013B</string>
		<string>uni0145</string>
		<string>uni0156</string>
		<string>uni0162</string>
		<string>uni0189</string>
		<string>uni01C4</string>
		<string>uni01C5</string>
		<string>uni01C7</string>
		<string>uni01C8</string>
		<string>uni01CA</string>
		<string>uni01CB</string>
		<string>uni01CD</string>
		<string>uni01CF</string>
		<string>uni01D1</string>
		<string>uni01D3</string>
		<string>uni01D5</string>
		<string>uni01D7</string>
		<string>uni01D9</string>
		<string>uni01DB</string>
		<string>uni01DE</string>
		<string>uni01E0</string>
		<string>uni01E4</string>
		<string>uni01E8</string>
		<string>uni01EA</string>
		<string>uni01EC</string>
		<string>uni01F1</string>
		<string>uni01F2</string>
		<string>uni01F4</string>
		<string>uni01F6</string>
		<string>uni01F8</string>
		<string>uni0200</string>
		<string>uni0202</string>
		<string>uni0204</string>
		<string>uni0206</string>
		<string>uni0208</string>
		<string>uni020A</string>
		<string>uni020C</string>
		<string>uni020E</string>
		<string>uni0210</string>
		<string>uni0212</string>
		<string>uni0214</string>
		<string>uni0216</string>
		<string>uni0218</string>
		<string>uni021A</string>
		<string>uni0220</string>
		<string>uni0226</string>
		<string>uni0228</string>
		<string>uni022A</string>
		<string>uni022C</string>
		<string>uni022E</string>
		<string>uni0230</string>
		<string>uni0232</string>
		<string>uni1E00</string>
		<string>uni1E02</string>
		<string>uni1E04</string>
		<string>uni1E06</string>
		<string>uni1E08</string>
		<string>uni1E0A</string>
		<string>uni1E0C</string>
		<string>uni1E0E</string>
		<string>uni1E10</string>
		<string>uni1E12</string>
		<string>uni1E14</string>
		<string>uni1E16</string>
		<string>uni1E18</string>
		<string>uni1E1A</string>
		<string>uni1E1C</string>
		<string>uni1E1E</string>
		<string>uni1E20</string>
		<string>uni1E22</string>
		<string>uni1E24</string>
		<string>uni1E26</string>
		<string>uni1E28</string>
		<string>uni1E2A</string>
		<string>uni1E2C</string>
		<string>uni1E2E</string>
		<string>uni1E30</string>
		<string>uni1E32</string>
		<string>uni1E34</string>
		<string>uni1E36</string>
		<string>uni1E38</string>
		<string>uni1E3A</string>
		<string>uni1E3C</string>
		<string>uni1E3E</string>
		<string>uni1E40</string>
		<string>uni1E42</string>
		<string>uni1E44</string>
		<string>uni1E46</string>
		<string>uni1E48</string>
		<string>uni1E4A</string>
		<string>uni1E4C</string>
		<string>uni1E4E</string>
		<string>uni1E50</string>
		<string>uni1E52</string>
		<string>uni1E54</string>
		<string>uni1E56</string>
		<string>uni1E58</string>
		<string>uni1E5A</string>
		<string>uni1E5C</string>
		<string>uni1E5E</string>
		<string>uni1E60</string>
		<string>uni1E62</string>
		<string>uni1E64</string>
		<string>uni1E66</string>
		<string>uni1E68</string>
		<string>uni1E6A</string>
		<string>uni1E6C</string>
		<string>uni1E6E</string>
		<string>uni1E70</string>
		<string>uni1E72</string>
		<string>uni1E74</string>
		<string>uni1E76</string>
		<string>uni1E78</string>
		<string>uni1E7A</string>
		<string>uni1E7C</string>
		<string>uni1E7E</string>
		<string>uni1E86</string>
		<string>uni1E88</string>
		<string>uni1E8A</string>
		<string>uni1E8C</string>
		<string>uni1E8E</string>
		<string>uni1E90</string>
		<string>uni1E92</string>
		<string>uni1E94</string>
		<string>uni1EA0</string>
		<string>uni1EA4</string>
		<string>uni1EA6</string>
		<string>uni1EAA</string>
		<string>uni1EAC</string>
		<string>uni1EAE</string>
		<string>uni1EB0</string>
		<string>uni1EB4</string>
		<string>uni1EB6</string>
		<string>uni1EB8</string>
		<string>uni1EBC</string>
		<string>uni1EBE</string>
		<string>uni1EC0</string>
		<string>uni1EC4</string>
		<string>uni1EC6</string>
		<string>uni1ECA</string>
		<string>uni1ECC</string>
		<string>uni1ED0</string>
		<string>uni1ED2</string>
		<string>uni1ED6</string>
		<string>uni1ED8</string>
		<string>uni1EE4</string>
		<string>uni1EF4</string>
		<string>uni1EF8</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>uni01E3</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>uni0237</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohorn</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>germandbls</string>
		<string>longs</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhorn</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uni0123</string>
		<string>uni0137</string>
		<string>uni013C</string>
		<string>uni0146</string>
		<string>uni0157</string>
		<string>uni0163</string>
		<string>uni0180</string>
		<string>uni019E</string>
		<string>uni01C6</string>
		<string>uni01C9</string>
		<string>uni01CC</string>
		<string>uni01CE</string>
		<string>uni01D0</string>
		<string>uni01D2</string>
		<string>uni01D4</string>
		<string>uni01D6</string>
		<string>uni01D8</string>
		<string>uni01DA</string>
		<string>uni01DC</string>
		<string>uni01DD</string>
		<string>uni01DF</string>
		<string>uni01E1</string>
		<string>uni01E5</string>
		<string>uni01E9</string>
		<string>uni01EB</string>
		<string>uni01ED</string>
		<string>uni01F0</string>
		<string>uni01F3</string>
		<string>uni01F5</string>
		<string>uni01F9</string>
		<string>uni0201</string>
		<string>uni0203</string>
		<string>uni0205</string>
		<string>uni0207</string>
		<string>uni0209</string>
		<string>uni020B</string>
		<string>uni020D</string>
		<string>uni020F</string>
		<string>uni0211</string>
		<string>uni0213</string>
		<string>uni0215</string>
		<string>uni0217</string>
		<string>uni0219</string>
		<string>uni021B</string>
		<string>uni0227</string>
		<string>uni0229</string>
		<string>uni022B</string>
		<string>uni022D</string>
		<string>uni022F</string>
		<string>uni0231</string>
		<string>uni0233</string>
		<string>uni0250</string>
		<string>uni0254</string>
		<string>uni0270</string>
		<string>uni027A</string>
		<string>uni1E01</string>
		<string>uni1E03</string>
		<string>uni1E05</string>
		<string>uni1E07</string>
		<string>uni1E09</string>
		<string>uni1E0B</string>
		<string>uni1E0D</string>
		<string>uni1E0F</string>
		<string>uni1E11</string>
		<string>uni1E13</string>
		<string>uni1E15</string>
		<string>uni1E17</string>
		<string>uni1E19</string>
		<string>uni1E1B</string>
		<string>uni1E1D</string>
		<string>uni1E1F</string>
		<string>uni1E21</string>
		<string>uni1E23</string>
		<string>uni1E25</string>
		<string>uni1E27</string>
		<string>uni1E29</string>
		<string>uni1E2B</string>
		<string>uni1E2D</string>
		<string>uni1E2F</string>
		<string>uni1E31</string>
		<string>uni1E33</string>
		<string>uni1E35</string>
		<string>uni1E37</string>
		<string>uni1E39</string>
		<string>uni1E3B</string>
		<string>uni1E3D</string>
		<string>uni1E3F</string>
		<string>uni1E41</string>
		<string>uni1E43</string>
		<string>uni1E45</string>
		<string>uni1E47</string>
		<string>uni1E49</string>
		<string>uni1E4B</string>
		<string>uni1E4D</string>
		<string>uni1E4F</string>
		<string>uni1E51</string>
		<string>uni1E53</string>
		<string>uni1E55</string>
		<string>uni1E57</string>
		<string>uni1E59</string>
		<string>uni1E5B</string>
		<string>uni1E5D</string>
		<string>uni1E5F</string>
		<string>uni1E61</string>
		<string>uni1E63</string>
		<string>uni1E65</string>
		<string>uni1E67</string>
		<string>uni1E69</string>
		<string>uni1E6B</string>
		<string>uni1E6D</string>
		<string>uni1E6F</string>
		<string>uni1E71</string>
		<string>uni1E73</string>
		<string>uni1E75</string>
		<string>uni1E77</string>
		<string>uni1E79</string>
		<string>uni1E7B</string>
		<string>uni1E7D</string>
		<string>uni1E7F</string>
		<string>uni1E87</string>
		<string>uni1E89</string>
		<string>uni1E8B</string>
		<string>uni1E8D</string>
		<string>uni1E8F</string>
		<string>uni1E91</string>
		<string>uni1E93</string>
		<string>uni1E95</string>
		<string>uni1E96</string>
		<string>uni1E97</string>
		<string>uni1E98</string>
		<string>uni1E99</string>
		<string>uni1EA1</string>
		<string>uni1EA5</string>
		<string>uni1EA7</string>
		<string>uni1EAB</string>
		<string>uni1EAD</string>
		<string>uni1EAF</string>
		<string>uni1EB1</string>
		<string>uni1EB5</string>
		<string>uni1EB7</string>
		<string>uni1EB9</string>
		<string>uni1EBD</string>
		<string>uni1EBF</string>
		<string>uni1EC1</string>
		<string>uni1EC5</string>
		<string>uni1EC7</string>
		<string>uni1ECB</string>
		<string>uni1ECD</string>
		<string>uni1ED1</string>
		<string>uni1ED3</string>
		<string>uni1ED7</string>
		<string>uni1ED9</string>
		<string>uni1EE5</string>
		<string>uni1EF5</string>
		<string>uni1EF9</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>ff</string>
		<string>fi</string>
		<string>fl</string>
		<string>uniFB05</string>
		<string>uniFB06</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>uni01C3</string>
		<string>uni0410</string>
		<string>uni0412</string>
		<string>uni0413</string>
		<string>uni0415</string>
		<string>uni0420</string>
		<string>uni0421</string>
		<string>uni0422</string>
		<string>Alpha</string>
		<string>Beta</string>
		<string>Gamma</string>
		<string>uni0394</string>
		<string>Epsilon</string>
		<string>Zeta</string>
		<string>Eta</string>
		<string>Theta</string>
		<string>Iota</string>
		<string>Kappa</string>
		<string>Lambda</string>
		<string>Mu</string>
		<string>Nu</string>
		<string>Xi</string>
		<string>Omicron</string>
		<string>Pi</string>
		<string>Rho</string>
		<string>Sigma</string>
		<string>Upsilon</string>
		<string>Phi</string>
		<string>Psi</string>
		<string>uni03A9</string>
		<string>Alphatonos</string>
		<string>Epsilontonos</string>
		<string>Etatonos</string>
		<string>Iotatonos</string>
		<string>Omicrontonos</string>
		<string>Upsilontonos</string>
		<string>Omegatonos</string>
		<string>Iotadieresis</string>
		<string>Upsilondieresis</string>
		<string>alpha</string>
		<string>gamma</string>
		<string>epsilon</string>
		<string>eta</string>
		<string>iota</string>
		<string>lambda</string>
		<string>uni03BC</string>
		<string>nu</string>
		<string>omicron</string>
		<string>pi</string>
		<string>rho</string>
		<string>tau</string>
		<string>upsilon</string>
		<string>chi</string>
		<string>iotatonos</string>
		<string>iotadieresis</string>
		<string>iotadieresistonos</string>
		<string>upsilontonos</string>
		<string>upsilondieresis</string>
		<string>upsilondieresistonos</string>
		<string>omicrontonos</string>
		<string>alphatonos</string>
		<string>epsilontonos</string>
		<string>etatonos</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>uni00B9</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>fraction</string>
		<string>uni215F</string>
		<string>onehalf</string>
		<string>onethird</string>
		<string>twothirds</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>uni2155</string>
		<string>uni2156</string>
		<string>uni2157</string>
		<string>uni2158</string>
		<string>uni2159</string>
		<string>uni215A</string>
		<string>uni2150</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>uni2151</string>
		<string>uni2152</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>exclamdbl</string>
		<string>numbersign</string>
		<string>onedotenleader</string>
		<string>uni2047</string>
		<string>slash</string>
		<string>backslash</string>
		<string>twodotenleader</string>
		<string>uni2016</string>
		<string>uni2023</string>
		<string>uni2042</string>
		<string>uni2048</string>
		<string>uni2049</string>
		<string>uni204B</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>figuredash</string>
		<string>underscore</string>
		<string>uni2010</string>
		<string>uni2011</string>
		<string>uni2015</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotereversed</string>
		<string>uni201F</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>uni2034</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>space</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>euro</string>
		<string>franc</string>
		<string>lira</string>
		<string>sterling</string>
		<string>uni20B9</string>
		<string>uni20BA</string>
		<string>yen</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>plusminus</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>asciicircum</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>uni2031</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>minute</string>
		<string>second</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>uni2116</string>
		<string>estimated</string>
		<string>prescription</string>
		<string>uni2120</string>
		<string>uni2121</string>
		<string>uni02D7</string>
		<string>uni02B9</string>
		<string>uni02BA</string>
		<string>uni0308</string>
		<string>dotaccentcomb</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni030B</string>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>uni0306</string>
		<string>uni030A</string>
		<string>tildecomb</string>
		<string>uni0304</string>
		<string>uni0305</string>
		<string>uni030F</string>
		<string>uni0312</string>
		<string>uni0316</string>
		<string>uni0317</string>
		<string>uni031B</string>
		<string>dotbelowcomb</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>uni0330</string>
		<string>uni0335</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>acute</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>ring</string>
		<string>tilde</string>
		<string>macron</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>circumflexcomb.case</string>
		<string>tonos</string>
		<string>dieresistonos</string>
		<string>newGlyph</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>onethird</key>
		<string>uni2153</string>
		<key>twothirds</key>
		<string>uni2154</string>
	</dict>
</dict>
</plist>
