
@font-face {
    font-family:"Klei Book Italic";
    src:url("KleiBookIta.woff2") format("woff2"),url("KleiBookIta.woff") format("woff"),url("KleiBookIta.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        